<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kim.jungbin.springboot.domain.person.Person2Mapper">

    <insert id="insertPerson" parameterType="Person2">
         INSERT INTO tbl_person_2 ( person_id, name )
         VALUES (
                 #{personId},
                 #{name}
                )
    </insert>


</mapper>